# Maven
target/
.mvn/
mvnw
mvnw.cmd

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
.DS_Store

# Spring Boot
HELP.md
*.log

# Sensitive config (future ke liye)
application-prod.properties
application-local.properties
.env
.env.*

# H2 file-based DB (if ever used)
*.mv.db
*.trace.db